{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<h1>This is the login page</h1>
<form method="post" action="/login/">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">

    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
</form>
<div>
    <p>Don't have an account yet?<a href="{% url 'register_view' %}">Register</a></p>
</div>
{% endblock %}